body {
    font-family: serif;
    background-color: #177272;
}
button {
    background-color: #00ffd5;
    border-color: black;
    text-align: center;
    font-size: 30px;
    border: 1px;
    height: 40px;
    cursor: pointer;
    color: white;
}
button:hover {
    color: gray;
}
button:active {
    color: black;
}